{% extends 'base.html.twig' %}

{% block title %}Likee index{% endblock %}

{% block body %}
    <h1>Likee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Likeid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for likee in likees %}
            <tr>
                <td>{{ likee.likeid }}</td>
                <td>
                    <a href="{{ path('app_likee_show', {'likeid': likee.likeid}) }}">show</a>
                    <a href="{{ path('app_likee_edit', {'likeid': likee.likeid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_likee_new') }}">Create new</a>
{% endblock %}
