<form method="post" action="{{ path('app_reservetable_delete', {'idreserve': reservetable.idreserve}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservetable.idreserve) }}">
    <button class="btn">Delete</button>
</form>
