{% extends 'FrontOffice/frontfinal.html.twig' %}

{% block title %}New Agencylove{% endblock %}

{% block body %}
    <h1>Create new Agencylove</h1>

    {{ include('agencylove/_form.html.twig') }}

    <a href="{{ path('app_agencylove_index') }}">back to list</a>
{% endblock %}
{{ % block ahbat }}
<br></br>
<br></br>
    {{ %endblock % }}