{% extends 'base.html.twig' %}

{% block title %}Agencylove{% endblock %}

{% block body %}
    <h1>Agencylove</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idagencylove</th>
                <td>{{ agencylove.idagencylove }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_agencylove_index') }}">back to list</a>

    <a href="{{ path('app_agencylove_edit', {'idagencylove': agencylove.idagencylove}) }}">edit</a>

    {{ include('agencylove/_delete_form.html.twig') }}
{% endblock %}
