{% extends 'base.html.twig' %}

{% block title %}Likee{% endblock %}

{% block body %}
    <h1>Likee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Likeid</th>
                <td>{{ likee.likeid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_likee_index') }}">back to list</a>

    <a href="{{ path('app_likee_edit', {'likeid': likee.likeid}) }}">edit</a>

    {{ include('likee/_delete_form.html.twig') }}
{% endblock %}
