{% extends 'base.html.twig' %}

{% block title %}Agencylove index{% endblock %}

{% block body %}
    <h1>Agencylove index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idagencylove</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agencylove in agencyloves %}
            <tr>
                <td>{{ agencylove.idagencylove }}</td>
                <td>
                    <a href="{{ path('app_agencylove_show', {'idagencylove': agencylove.idagencylove}) }}">show</a>
                    <a href="{{ path('app_agencylove_edit', {'idagencylove': agencylove.idagencylove}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_agencylove_new') }}">Create new</a>
{% endblock %}
