{% extends 'FrontOffice/baseFrontFinal.html.twig' %}

{% block title %}New Topic{% endblock %}

{% block body %}
   <div style="text-align: center;">
        <div class="container">
    <h1>Create new Topic</h1>

    {{ include('FrontOffice/topic/_form.html.twig') }}

    <a href="{{ path('app_topic_index') }}">back to list</a>
    </div>
    </div>

{% endblock %}
